body{
  //background: linear-gradient(to bottom right,#3C91BC 0%, #9AB87A 50%, rgba(255, 128, 128, 0.65) 80%);
  //linear-gradient(90deg, rgba(255, 128, 128, 0.65) 0%, rgba(255, 164, 128, 0.65) 10%, rgba(255, 202, 128, 0.65) 20%, rgba(255, 240, 128, 0.65) 30%, rgba(232, 255, 128, 0.65) 40%, rgba(193, 255, 128, 0.65) 50%, rgba(155, 255, 128, 0.65) 60%, rgba(128, 255, 138, 0.65) 70%, rgba(128, 255, 176, 0.65) 80%, rgba(128, 255, 215, 0.65) 90%, rgba(128, 255, 253, 0.65) 100%),
  //linear-gradient(-90deg, rgba(204, 255, 254, 0.45) 0%, rgba(204, 241, 255, 0.45) 10%, rgba(204, 225, 255, 0.45) 20%, rgba(204, 210, 255, 0.45) 30%, rgba(213, 204, 255, 0.45) 40%, rgba(229, 204, 255, 0.45) 50%, rgba(244, 204, 255, 0.45) 60%, rgba(255, 204, 251, 0.45) 70%, rgba(255, 204, 235, 0.45) 80%, rgba(255, 204, 220, 0.45) 90%, rgba(255, 204, 205, 0.45) 100%);
  //background:
  //linear-gradient(limegreen, transparent),
  //linear-gradient(90deg, skyblue, transparent),
  //linear-gradient(-90deg, coral, transparent);
  //background-blend-mode: screen;
  background-repeat: repeat;  
  padding: 0;
  margin: 0;

  scrollbar-face-color: slategray;
  scrollbar-track-color: #b8c0c8;
}
//#0CF
text, p{
  font-family: "Fenton";
}
.navbar{
  position: relative;
  width: 100%;
  height: 85px;
  background-color: rgba(253,255,252,.6);//#474B54,#EAEAEA;
  box-shadow: 0px 5px 10px black;
}
.hk-logo{
  top: 15px;
  margin-left: 15px;
  position: relative;
  height: 70px;
  width: 270px;
}
.hk-logo img{
  width: 270px;
  height: auto;
}
.statebar{
  align-items: center;
  justify-content: center;
}
.InOutport{
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portBox{
  display: flex;
}
.import,.outport{
  padding: 5px;
  max-width: 50%;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 600;
  border: 3px solid transparent;
  color:#474B54;
}
.import.active,.outport.active{
  color: white;
  background-color: #FFE066;
  border-radius: 10px;
  border: 3px solid #474B54;
  transition: all .3s ease;
}
.timeBar{
  width: 50%;
  margin: 30px 0;
  display: flex;
}
#showTimebyJSON{
  color: #474B54;
  margin-left: 10px;
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Fenton";
  padding-top: 10px;
}
#monthTime{
  width: 80%;
}
.visBox{
  width: 100%;
  height: auto;
}
.dataBoard{
  display: flex;
	flex-direction: column;
  margin: 20px auto;
  width: 85%;
  height: auto;
  border-radius: 2px;
  //border:2px solid black;
  box-shadow: 0px 3px 5px black;
  background: rgba(253,255,252,.3);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
  padding: 20px;
}
.row {
	display: flex;
	flex-direction: row;
}
.content{
  display: inline-block;
  width: 95%;
  height: 100%;
  min-width: 320px;
  max-width: 2060px;
  min-height: 480px;
  max-height: 1000px;
  height: 500px;
  overflow-y: scroll;
  border-radius: 2px;
  border: 5px solid #474B54;
}
#vis{
  min-height: 480px;
	max-height: 1500px;
  height: 500px
  width: 100%;
	display: flex;
	justify-content: center;
}
/* Scrollbar style*/
::-webkit-scrollbar {
  width: .8em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #474B54;
}

::-webkit-scrollbar-track {
  background: rgba(141,153,174,0.3);
}
.singleBox{
  width: 30%;
  height: auto;
}
.dataInfo{
  min-width: 320px;
  max-width: 2060px;
  min-height: 500px;
  max-height: 1000px;
  height: 500px;
  display: inline-block;
  width: 30%;
  height: 100%;
  border: 5px solid #474B54;
}
.singleItemBox{
  position: relative;
  width: 300px;
  min-height: 350px;
  height: 500px;
  border-radius: 2px;
}
#singleItem{
  display: inline-block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
}
.visName,.InfoName{
  margin-bottom: 30px;
  display: block;
  border-bottom: 5px solid #FFE066;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #474B54;
  font-weight: 700;
  font-family: "Fenton";
}
#itemName{
  margin: 40px auto;
  width: 70%;
  display: block;
  color: #474B54;
  font-size: 1.2em;
}
#itemNumber{
  position: absolute;
  top: 120px;
  left: calc(50% - 75px);
  width: 150px;
  height: 40px;
  text-align: center;
  vertical-align: all;
  font-size: 2em;
  color: #FFE066;
}
.trendbox{
  margin:0 auto;
  width: 95%;
  margin-top: 80px;
  margin-bottom: 100px;
}
#trendName{
  border-bottom: 5px solid #FFE066;
  float: right;
  margin-right: 10px;
  font-size: 2em;
  color: #474B54;
  font-weight: 700;
  font-family: "Fenton";
}
#trend {
	display: block;
	margin: 30px;
}
.footer{
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 85%;
  height: 200px;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
  background-color: rgba(253,255,252,.4);
  padding: 20px; 
  text-align: center;
}
.footer p{
  color:#474B54;
  font-size: 3em;
  font-family: "kust";
}
.svg-content{
  display: none;
}
input[type=range] {
  -webkit-appearance: none;
  background-color: transparent;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  //animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #474B54;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 30px;
  width: 50px;
  border-radius: 10px;
  background: #E25654;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
  border:4px solid #474B54;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #474B54;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  //animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #474B54;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #474B54;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  //animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #474B54;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #474B54;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #474B54;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #474B54;
}
input[type=range]:focus::-ms-fill-upper {
  background: #474B54;
}






.c3-chart-arcs-title{
  fill: white;
}
.c3-legend-item{
  fill: white;
  font-size: 2em;
}
.c3-chart-arc > text{
  font-size: 1.6em;
  stroke-width: 1px;
  stroke: white;
}
.c3-axis{
  fill:#474B54;
}
.singleItemBox.c3-shapes{
  stroke-width: 3px;
  stroke: white;
}
.c3 .c3-axis path, .c3 .c3-axis line {
  stroke:#474B54;
}
.c3 .c3-circle{
  transition: r .2s ease;
}
rect{
  transition: all 0.3s;
}
.shared, .bar, .leftlabel, .rightlabel {
  font-size: 1em;
  font-weight: regular;
  fill:white;
  font-family: 'Fenton', sans-serif;
}
.leftlabel, .rightlabel {
  font-size: 2.5em;
  font-weight: 700;
  fill:#474B54;
  font-family: 'Fenton', sans-serif;
  cursor: pointer;
  stroke-width:1px;
  transition: all .25s ease;
}
.rightbar{
  fill: #F25F5C;
	stroke-width: 2px;
	stroke: white;
	transition: stroke-width .5s;
}
.leftbar{
  fill: #247BA0;
  stroke-width: 2px;
	stroke: white;
	transition: stroke-width .5s;
}
.highlight rect.leftbar, .highlight rect.rightbar {
  fill: #FFE066;
  stroke-width: 3px;
  stroke: #474B54;
  padding: 50px;
  transition: all .4s ease;
}
text.leftbar-text, text.rightbar-text, text.shared {
  display: none;
}
.highlight text {
  font-size: 120%;
  display: block;
  fill: #474B54;
}
.highlight .shared {
  display: none;
}
.click-highlight text{
  font-size: 120%;
  display: block;
  fill: #474B54;
}
.highlight-label{
  fill: #474B54;
}

@media(max-width: 480px) {
  .row {
    display: flex;
    flex-direction: column;
  }
  .singleBox{
    width: 100%;
  }
  .dataInfo{
    width: 95%;
  }
  .InOutport{
    margin:5px 0 0  5%;
    width: 90%;
  }
  .timeBar{
    margin-left: 5%;
    width: 90%;
  }
  #monthTime{
    width: 75%;
  }
  #showTimebyJSON{
    font-size:1em;
  }
  .footer{
    height: 250px;
  }
}
